code/java/jaxws/wscontract/src/main/resources/wsdl/MaintainAddress.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:address="http://demo.iae.ws/address" xmlns:name="http://demo.iae.ws/name"
	xmlns:tns="http://demo.iae.ws/MaintainAddress/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaintainAddress"
	targetNamespace="http://demo.iae.ws/MaintainAddress/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://demo.iae.ws/MaintainAddress/">
			<xsd:import namespace="http://demo.iae.ws/address"
				schemaLocation="address.xsd" />
			<xsd:import namespace="http://demo.iae.ws/name"
				schemaLocation="name.xsd" />
			<xsd:element name="name" type="name:name" nillable="false" />
			<xsd:element name="response" type="address:address"
				nillable="false" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="lookupAddressRequest">
		<wsdl:part element="tns:name" name="parameters" />
	</wsdl:message>
	<wsdl:message name="lookupAddressResponse">
		<wsdl:part element="tns:response" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MaintainAddress">
		<wsdl:operation name="lookupAddress">
			<wsdl:input message="tns:lookupAddressRequest" />
			<wsdl:output message="tns:lookupAddressResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaintainAddressSOAP" type="tns:MaintainAddress">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="lookupAddress">
			<soap:operation soapAction="http://demo.iae.ws/MaintainAddress/lookupAddress" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaintainAddress">
		<wsdl:port binding="tns:MaintainAddressSOAP" name="MaintainAddressSOAP">
			<soap:address location="http://localhost/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
